{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}

{% block body %}
    <div id="content">
        {{ form_start(form) }}
            <div>{{ form_row(form.firstName) }}</div>
            <div>{{ form_row(form.name) }}</div>
            <div>{{ form_row(form.email) }}</div>
            <div class="form-flex">
                <div>{{ form_row(form.joiningDate) }}</div>
                <div>{{ form_row(form.contractType) }}</div>
            </div>
            <button class="button button-submit">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}