{% extends 'base.html.twig' %}

{% block title %}{{ pageName }}{% endblock %}

{% block body %}
    <div id="content">
        {{ form_start(formProject) }}
            <div>{{ form_row(formProject.title) }}</div>
            <div>
                {{ form_row(formProject.employees) }}
            </div>
            <br>
            <button class="button button-submit">Modifier</button>
        {{ form_end(formProject) }}
    </div>
{% endblock %}
